---
layout: default
---

<div class="flex justify-center gap-2">
  <a href="/books">Books</a>
  <span>▸</span>
  <a href="{{ page.book_link }}">{{ page.book_title }}</a>
  <span>▸</span>
  <strong>{{ page.title }}</strong>
</div>

{{ content }}

{% if page.next_chapter_title %}
  <a href="{{ page.next_chapter_link }}">Next: {{ page.next_chapter_title }}</a>
{% else %}
  <a href="{{ page.book_link }}">Table of contents: {{ page.book_title }}</a>
{% endif %}