---
layout: default
---

<div class="flex justify-center gap-2">
  <a href="/books">Books</a>
  <span>▸</span>
  <a href="{{ page.book_link }}">{{ page.book_title }}</a>
  <span>▸</span>
  <strong>{{ page.title }}</strong>
</div>

<div class="flex justify-center items-center gap-2 py-10">
  <h1 class="text-6xl font-bold">{{ page.title }}</h1>
</div>

{{ content }}

<div class="flex justify-center items-center">
  <div class="border rounded-full px-6 py-1 hover:border-2 hover:border-black">
    {% if page.next_chapter_title %}
      <a class="flex justify-center items-center gap-2" href="{{ page.next_chapter_link }}">Next: {{ page.next_chapter_title }}
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round"
             class="lucide lucide-arrow-right-icon lucide-arrow-right">
          <path d="M5 12h14"/><path d="m12 5 7 7-7 7"/>
        </svg>
      </a>
    {% else %}
      <a class="flex justify-center items-center gap-2" href="{{ page.book_link }}">Table of contents: {{ page.book_title }}
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none" stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round"
             class="lucide lucide-undo2-icon lucide-undo-2">
          <path d="M9 14 4 9l5-5"/>
          <path d="M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5a5.5 5.5 0 0 1-5.5 5.5H11"/>
        </svg>
      </a>
    {% endif %}
  </div>
</div>