---
layout: page
title: Writing
---
<p>I write about life, programming, security, hacking, and everything else that piques my interest.</p>

<div class="pb-10">
  <ul class="flex flex-col items-center justify-center gap-4 p-0 m-0 list-none">
    {% for post in collections.posts.resources %}
      <li class="flex flex-col items-center justify-center gap-4 p-6 not-last:border-black not-last:border-b-2 post w-blog-content">
        <div class="flex flex-col gap-8">
          <div class="flex flex-col items-center justify-center">
            <h2 class="!text-center">
              <a href="{{ post.relative_url }}" class="no-underline">{{ post.title }}</a>
            </h2>
            <time class="text-lg italic font-bold tracking-tighter uppercase">
              {{ post.data.date | date: '%B %d, %Y' }}
            </time>
          </div>

          <div>
            {{ post.content | truncatewords: 80 }}
          </div>
        </div>

        <div class="px-2 py-0.5 uppercase tracking-tighter italic font-bold max-w-fit">
          <a href="{{ post.relative_url }}" class="no-underline">Keep reading</a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
