<header class="flex justify-center items-center w-full">
  <nav class="flex justify-between mx-auto w-full text-xl">
    <div>
      <a href="{{ '/' | relative_url }}" class="text-black no-underline font-semibold">Syed M. Sawaid</a>
    </div>
    <ul class="flex gap-x-4 list-none">
      <li><a href="{{ '/about' | relative_url }}">About</a></li>
      <li><a href="{{ '/posts' | relative_url }}">Posts</a></li>
      <li><a href="{{ '/books' | relative_url }}">Books</a></li>
      <li><a href="{{ '/resume' | relative_url }}">Resume</a></li>
    </ul>
  </nav>
</header>
