<header class="flex items-center justify-center w-full">
  <nav class="flex justify-between w-full mx-auto text-xl">
    <div>
      <a href="{{ '/' | relative_url }}" class="font-semibold text-black no-underline">Syed M. Sawaid</a>
    </div>
    <ul class="flex list-none gap-x-4">
      <li><a href="{{ '/about' | relative_url }}">About</a></li>
      <li><a href="{{ '/posts' | relative_url }}">Posts</a></li>
      {% comment %} <li><a href="{{ '/books' | relative_url }}">Books</a></li> {% endcomment %}
      {% comment %} <li><a href="{{ '/resume' | relative_url }}">Resume</a></li> {% endcomment %}
      <li><a href="{{ '/now' | relative_url }}">Now</a></li>
    </ul>
  </nav>
</header>
