<header class="flex items-center justify-center w-full">
  <nav class="flex justify-between w-full mx-auto text-xl">
    <div>
      <a href="{{ '/' | relative_url }}" class="font-semibold text-black no-underline">Syed M. Sawaid</a>
    </div>
    <ul class="flex list-none gap-x-4">
      <li><a href="{{ '/posts' | relative_url }}">Writing</a></li>
      <li><a href="{{ '/software' | relative_url }}">Software</a></li>
      <li><a href="{{ '/film' | relative_url }}">Film Making</a></li>
      <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
    </ul>
  </nav>
</header>
