<header class="flex items-center justify-center w-full">
  <nav class="flex flex-col items-center w-full mx-auto text-xl sm:justify-between sm:flex-row">
    <div>
      <a href="{{ '/' | relative_url }}" class="font-semibold text-black no-underline">Syed M. Sawaid</a>
    </div>
    <ul class="flex gap-4 list-none">
      <li><a href="{{ '/posts' | relative_url }}">Writing</a></li>
      <li><a href="{{ '/software' | relative_url }}">Software</a></li>
      <li><a href="{{ '/film' | relative_url }}">Film</a></li>
      <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
    </ul>
  </nav>
</header>
